.vertical-divider {
    border-left: 0.5rem solid #DEE2E5;
    margin-top: -0.75rem;
    margin-bottom: 0;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #DEE2E5 transparent;
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: .5rem;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #DEE2E5;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #B4B7BA;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #696B6C;
}